<div>
    <!--<div ng-if="isLoading">
        <span id="loadingMessage">Loading...</span>
    </div>-->
    <div class="cssload-container" ng-if="qc.isLoading">
        <div class="cssload-whirlpool"></div>
    </div>
    <div ng-if="!qc.isLoading">
        <div id="timerContainer" data-ng-init="qc.startTimer()">
            <span id="timer" ng-style="qc.myStyle">{{qc.time}}</span>
        </div>
        <nav id="quizNav">
            <table>
                <tr>
                    <td ng-class="{navQuestionsActive: $index == qc.currentQuestion, navQuestions: $index != qc.currentQuestion}" ng-repeat="question in qc.quizQuestions" ng-click="qc.setCurrentQuestion($index, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText)">{{$index < 9 ? '0' + ($index + 1) : $index + 1}}</td>
                    <!--<td class="emptyTdInQuestNav" ng-repeat-end="">--------</td>-->
                </tr>
                <tr>
                    <td ng-repeat="question in qc.quizQuestions">Q{{$index + 1}}</td>
                </tr>
            </table>
        </nav>
        <div id="questAndAnswer">
            <ul>
                <li>
                    <h2>{{qc.quizQuestions[qc.currentQuestion].Text}}</h2>
                </li>
                <li ng-repeat="answer in qc.quizQuestions[qc.currentQuestion].Answers" ng-if="qc.quizQuestions[qc.currentQuestion].IsAutomatic">
                    <label ng-if="qc.quizQuestions[qc.currentQuestion].QuestionType == 'Select one'">
                        <input type="radio" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerId" name="answersGroup" value="{{answer.Id}}" ng-click="qc.setUserSingleChoice(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, answer.Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder)"> {{answer.Text}}
                    </label>
                    <label ng-if="qc.quizQuestions[qc.currentQuestion].QuestionType == 'Select many'">
                        <input type="checkbox" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].Answers[$index]" ng-true-value="{{answer.Id}}" name="answersGroup" ng-false-value="null" ng-click="qc.setUserMultipleChoice(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.passedQuiz.UserAnswers[qc.currentQuestion].Answers, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder)"> {{answer.Text}}
                    </label>
                </li>

            </ul>
            <textarea rows="{{qc.windowHeight * 20 | number}}" ng-if="!qc.quizQuestions[qc.currentQuestion].IsAutomatic" id="fieldForText" ng-model="qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText"></textarea>
        </div>
    </div>

    <footer id="quizButtons" ng-if="!qc.isLoading">
        <table>
            <tr>
                <td>
                    <input type="button" value="&laquo Q{{qc.currentQuestion > 0 ? qc.currentQuestion: +qc.currentQuestion + 1}}" ng-click="qc.setCurrentQuestion(qc.currentQuestion - 1, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText);">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Q{{qc.currentQuestion < qc.quizQuestions.length - 1 ? +qc.currentQuestion + 2 : +qc.currentQuestion + 1}} &raquo" ng-click="qc.setCurrentQuestion(+qc.currentQuestion + 1, qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText)">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Finish" ng-click="qc.finishQuiz(qc.currentQuestion, qc.quizQuestions[qc.currentQuestion].Id, qc.quizQuestions[qc.currentQuestion].IsAutomatic, qc.quizQuestions[qc.currentQuestion].QuizBlock, qc.quizQuestions[qc.currentQuestion].QuestionOrder, qc.passedQuiz.UserAnswers[qc.currentQuestion].AnswerText);">
                </td>
                <td class="empty"></td>
            </tr>
        </table>
    </footer>
</div>

