<div class="loading-background"></div>
<div class="existing-question-window">
    <div align="right">
        <button href="" class="close-button" ng-click="vm.closeAddingQuestionWindow()">X</button>
    </div>
    <div class="existing-question-container">
        <h2>Add existing question</h2>
        <div class="row bordered">
            <div class="col-sm-12 col-md-12">
                <input type="text" class="form-control" placeholder="Search" ng-change="vm.searchTextChange()" ng-model="vm.quizSearch" />
            </div>
        </div>
        <div class="row bordered">
            <div class="col-sm-6 col-md-6">
                <button class="form-control" ng-class="{active: item.Id == vm.selectedQuizIdForAddQuestion}" ng-click="vm.setQuizIdForAddQuestion(item)" ng-repeat="item in vm.model.quizzesForCopy | filter: { Name : vm.model.quiz.Name ? '!' + vm.model.quiz.Name : '', Id: '!0' } | filter: { Name : vm.quizSearch } | orderBy:'Name'| limitTo:10">
                    {{item.Name}}
                </button>
            </div>
        </div>
        <div class="question-block" ng-show="vm.selectedQuizIdForAddQuestion != 0">
            <div class="row bordered">
                <div ng-repeat="q in vm.getQuestionsPage() track by $index">
                    <div class="row">
                        <div class="col-sm-1 col-md-1">
                            <input type="checkbox" class="form-control" ng-model="q.checked" />
                        </div>
                        <div class="col-sm-11 col-md-11">
                            <p class="control-label">
                                <b>Question {{ vm.getNumeration($index) }}.</b>  {{q.QuestionText}}
                            </p>
                        </div>
                    </div>
                    <div class="row" ng-show="q.isExpanded">
                        <div class="col-md-offset-1 col-sm-offset-1 col-md-11 col-sm-11">
                            <div ng-switch on="q.QuestionTypeId">
                                <div ng-switch-when="1">
                                    {{ vm.getAnswersForQuestion(q)[0].AnswerText }}
                                </div>
                                <div ng-switch-when="2">
                                    <div class="row" ng-repeat="answer in vm.getAnswersForQuestion(q)">
                                        <div class="col-sm-1 col-md-1">
                                            <input type="radio" class="form-control" ng-disabled="true" ng-checked="answer.IsRight" />
                                        </div>
                                        <div class="col-sm-11 col-md-11">
                                            <p class="control-label">
                                               {{answer.AnswerText}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="3">
                                    <div class="row" ng-repeat="answer in vm.getAnswersForQuestion(q)">
                                        <div class="col-sm-1 col-md-1">
                                            <input type="checkbox" class="form-control" ng-disabled="true" ng-checked="answer.IsRight" />
                                        </div>
                                        <div class="col-sm-11 col-md-11">
                                            <p class="control-label">
                                                {{answer.AnswerText}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11 col-md-11">
                                    <p class="control-label">
                                        <b>Tags:</b> {{vm.getTagsForQuestion(q)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a href="" class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2" ng-click="q.isExpanded = !q.isExpanded">{{q.isExpanded ? "Collapse" : "Expand"}}</a>
                    </div>
                </div>
            </div>
            <uib-pagination ng-show="vm.questionsPagingInfo.questionsTotal != 0" total-items="vm.questionsPagingInfo.questionsTotal" ng-model="vm.questionsPagingInfo.currentPage"
                            items-per-page="vm.questionsPagingInfo.questionsPerPage" max-size="5" class="pagination-sm" boundary-link-numbers="true">
            </uib-pagination>
            <div class="row copy-button-container">
                <div class="col-md-offset-10 col-sm-offset-10 col-md-2 col-sm-2">
                    <button ng-click="vm.AddExistingQuestions()" ng-disabled="vm.GetCountSelectedQuestions() == 0" class="form-control">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>
