<div class="tab" ng-show="vm.tab=='questions'" novalidate>
    <ng-form name="vm.model.questionsForm">
        <div ng-form="oneQuestionForm" ng-repeat="question in vm.model.questions track by $index">
            <div class="row" show-error>
                <div class="col-sm-12 col-md-12">
                    <p class="control-label">
                        Question #{{ $index + 1 }}
                        <a href class="control-label" ng-click="vm.isEditingEnabled() && vm.deleteQuestion($index)">Delete question</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-12">
                    <textarea class="questionText form-control" ng-model="question.QuestionText" ng-disabled="!vm.isEditingEnabled()" required name="QuestionText">{{ question.QuestionText }}</textarea>
                    <div ng-messages="oneQuestionForm.QuestionText.$error" class="help-block hide">
                        <p ng-message="required">Question text is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <p class="control-label">
                        Type
                    </p>
                </div>
                <div class="col-sm-3 col-md-3" ng-repeat="type in vm.model.questionTypes | orderBy: 'Id'">
                    <button class="form-control" ng-class="{active: question.QuestionTypeId==type.Id}" ng-disabled="!vm.isEditingEnabled()" ng-click="vm.setQuestionType(question, type.Id, oneQuestionForm)">
                        {{ type.TypeName }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <p class="control-label">
                        Tags
                    </p>
                </div>
                <div class="col-sm-12 col-md-12">
                    <input class="form-control" ng-disabled="!vm.isEditingEnabled()" ng-list type="text" ng-model="vm.model.tags[$index]">
                </div>
            </div>
            <div ng-switch on="question.QuestionTypeId">
                <div ng-form="oneAnswerForm" ng-switch-when="1">
                    <div class="row" show-error>
                        <div class="col-sm-12 col-md-12">
                            <p class="control-label">
                                Answer
                            </p>
                        </div>
                        <div  class="col-sm-12 col-md-12">
                            <textarea class="questionText form-control" ng-model="vm.model.answers[$index][vm.getFirstCheckedAnswerIndex($index)].AnswerText" ng-disabled="!vm.isEditingEnabled()" required name="AnswerText">{{ vm.model.answers[$index][0] }}</textarea>
                            <div ng-messages="oneAnswerForm.AnswerText.$error" class="help-block hide">
                                <p ng-message="required">Answer text is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <p class="control-label">
                                Options
                                <a href class="control-label" ng-click="vm.isEditingEnabled() && vm.addNewAnswer(question, $index)">Add new</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <table class="col-sm-12 col-md-12">
                            <thead>
                            <th class="col-sm-8 col-md-8 control-label" ng-click="vm.order($index, 'AnswerText')">{{ vm.showOrderArrow($index, "AnswerText") }} Answer</th>
                            <th class="col-sm-2 col-md-2 control-label" ng-click="vm.order($index, 'IsRight')">{{ vm.showOrderArrow($index, "IsRight") }} Is correct</th>
                            <th class="col-sm-2 col-md-2 control-label">Delete</th>
                            </thead>
                            <tbody>
                                <tr ng-form="oneAnswerForm" ng-repeat="answer in vm.model.answers[$index] | orderBy:vm.model.orderArray[$index].predicate:vm.model.orderArray[$index].reverse">
                                    <td class="col-sm-8 col-md-8">
                                        <div class="row" show-error>
                                            <input class="questionText form-control" type="text" ng-disabled="!vm.isEditingEnabled()" ng-model="answer.AnswerText" required name="AnswerText">
                                            <div ng-messages="oneAnswerForm.AnswerText.$error" class="help-block hide">
                                                <p ng-message="required">Answer text is required</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2 col-md-2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="form-control" ng-disabled="!vm.isEditingEnabled()" ng-click="vm.checkAnswerForSelectOne(answer, question)" ng-value="true" ng-model="answer.IsRight">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="col-sm-2 col-md-2">
                                        <a href ng-click="vm.isEditingEnabled() && vm.deleteAnswer(answer, question)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-show="vm.getAnswerCount($index, oneQuestionForm) == 0 && vm.isDirtyAnswerCount(question)">
                        <div class="col-sm-8 col-md-6 has-error">
                            <p class="control-label">Required at least 1 answer</p>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.getCheckedCountForSelectOne($index, oneQuestionForm) != 1 && vm.isDirtyAnswerChecked(question)">
                        <div class="col-sm-8 col-md-6 has-error">
                            <p class="control-label">Required 1 correct answer</p>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <p class="control-label">
                                Options
                                <a href class="control-label" ng-click="vm.isEditingEnabled() && vm.addNewAnswer(question, $index)">Add new</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <table class="col-sm-12 col-md-12">
                            <thead>
                            <th class="col-sm-8 col-md-8 control-label" ng-click="vm.model.order($index, 'AnswerText')">{{ vm.model.showOrderArrow($index, "AnswerText") }} Answer</th>
                            <th class="col-sm-2 col-md-2 control-label" ng-click="vm.model.order($index, 'IsRight')">{{ vm.model.showOrderArrow($index, "IsRight") }} Is correct</th>
                            <th class="col-sm-2 col-md-2 control-label">Delete</th>
                            </thead>
                            <tbody>
                                <tr ng-form="oneAnswerForm" ng-repeat="answer in vm.model.answers[$index] | orderBy:vm.model.orderArray[$index].predicate:vm.model.orderArray[$index].reverse">
                                    <td class="col-sm-8 col-md-8">
                                        <div class="row" show-error>
                                            <input class="questionText form-control" type="text" ng-disabled="!vm.isEditingEnabled()" ng-model="answer.AnswerText" required name="AnswerText">
                                            <div ng-messages="oneAnswerForm.AnswerText.$error" class="help-block hide">
                                                <p ng-message="required">Answer text is required</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-2 col-md-2">
                                        <input type="checkbox" ng-disabled="!vm.isEditingEnabled()" class="form-control" ng-click="vm.model.answersDirty[vm.model.questions.indexOf(question)].checkedAnswersDirty=true" ng-model="answer.IsRight">
                                    </td>
                                    <td class="col-sm-2 col-md-2">
                                        <a href ng-click="vm.isEditingEnabled() && vm.deleteAnswer(answer, question)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" ng-show="vm.getAnswerCount($index, oneQuestionForm) == 0 && vm.isDirtyAnswerCount(question)">
                        <div class="col-sm-8 col-md-6 has-error">
                            <p class="control-label">Required at least 1 answer</p>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.getCheckedCountForSelectMany($index, oneQuestionForm )== 0 && vm.isDirtyAnswerChecked(question)">
                        <div class="col-sm-8 col-md-6 has-error">
                            <p class="control-label">Required at least 1 correct answer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right">
            <a href ng-click="vm.isEditingEnabled() && vm.addNewQuestion()">Add new</a>
            <a href ng-click="vm.isEditingEnabled() && vm.showAddExistingQuestion()">Add existing one</a>
        </div>
    </ng-form>

    <div ng-show="vm.isExistingQuestionEnable">
        <ng-include src="'/Areas/Moderator/Scripts/app/pages/quiz/existingQuestions.html'"></ng-include>
    </div>
</div>