
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="container">
    <div ng-controller="QuizController as vm" ng-cloak>
        <h2>Create/Edit {{vm.model.quiz.Name}}</h2>
        <div ng-show="vm.model.locked">
            <h2>Sorry, this quiz is being edited by {{vm.model.latestChange.User.FirstName}} {{vm.model.latestChange.User.LastName}}</h2>
            <p>try refreshing page at {{vm.model.latestChange.EndLockDate}}</p>
        </div>
        <div>
            <button class="tab-navigation-button" ng-class="{active : vm.tab=='quiz'}" ng-click="vm.switchTab('quiz')">Quiz</button>
            <button class="tab-navigation-button" ng-class="{active : vm.tab=='questions'}" ng-click="vm.switchTab('questions')">Questions ({{vm.model.questions.length}}/{{vm.model.quizBlock.QuestionCount}})</button>
        </div>
        <div class="tab-container">
            <ng-include src="'/Areas/Moderator/Scripts/app/pages/quiz/quiz.html'"></ng-include>
            <ng-include src="'/Areas/Moderator/Scripts/app/pages/quiz/questions.html'"></ng-include>
        </div>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-3">
                <button class="btn btn-default form-control lightgray" ng-click="vm.save()" ng-disabled="!vm.isEditingEnabled()">Save</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default form-control lightgray" ng-hide="vm.archiveQuizCanExecute()" ng-click="vm.deleteQuiz()" ng-disabled="!vm.deleteCanExecute()">Delete</button>
                <button class="btn btn-default form-control lightgray" ng-hide="!vm.archiveQuizCanExecute()" ng-click="vm.archiveQuiz()" ng-disabled="!vm.archiveQuizCanExecute()">Archive</button>
            </div>
            <div class="col-sm-2">
                @Html.ActionLink(linkText: "Cancel", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default lightgray" })
            </div>
        </div>


        <div ng-cloak class="loading-background" ng-show="vm.loadingVisible">
            <div class="loading-content">
                <p>
                    Processing...
                </p>
            </div>
        </div>
        <div ng-cloak class="message-container" ng-show="vm.errorMessageVisible">
            <div class="message-content">
                <p>
                    Changes have not been saved due to
                </p>
                <p class="red text-center">
                    SERVER ERROR
                </p>
            </div>
        </div>
        <div ng-cloak class="message-container" ng-show="vm.successMessageVisible">
            <div class="message-content">
                <p>
                    All changes have been
                </p>
                <p class="green">
                    SUCCESSFULLY SAVED
                </p>
            </div>
        </div>
    </div>
</div>

@section FootScripts{
    <script src="~/Scripts/app/shared/equiz.module.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/mvc-location.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/quiz.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.controller.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/question.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/show-error.directive.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/unique-quiz-name.directive.js"></script>
    <script src="~/Areas/Moderator/Scripts/libs/custom-pagination/custom-pagination.js"></script>
}

@section HeadStyles{

    <link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
}

@section PageHeader{
    @{
        Html.RenderPartial("~/Areas/Moderator/Views/Shared/_Header.cshtml");
    }
}
