<connectionStrings>
  <add name="eQuizDB" connectionString="metadata=res://*/eQuizEntities.csdl|res://*/eQuizEntities.ssdl|res://*/eQuizEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MDV\SQLEXPRESSMDV;Initial Catalog=Settlement;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />  
</connectionStrings>