<div>
    <br />
    <br />
    <div pop-up-window></div>
    <div style="display:inline; margin:8px">
        <label>Search</label>
        <input type="text" ng-model="asc.search" style="width:15em">

    <div style="overflow-x:auto; margin:8px">
        <table class="reviewTable table-condensed" style="width:100%" auto-height="{{asc.groupList.length}}">
            <thead>
                <tr>
                    <th ng-repeat="h in asc.headers">
                        <a class="link" href="#" ng-click="asc.refreshPredicate(h.predicateIndex); asc.order(asc.myPredicate[h.predicateIndex], null)">
                            <span class="sortorder" ng-show="asc.direction(h.predicateIndex) !== null" ng-class="{direction:asc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in asc.contents = ((asc.searchFiltered = (asc.students | filter: {Name:asc.search})) | startFrom: asc.tablePage*asc.resultsPerPage | limitTo:asc.resultsPerPage)" style="height: 50px">
                    <td><a href="Index/Student?Id={{c.Name}}#Student" class="link" ng-bind-html="c.Name | highlight: asc.search">{{c.Name}}</a></td>
                    <td>{{c.Rating}}</td>
                    <td>{{c.HostelNum}}</td>
                    <td>{{c.RoomNum}}</td>
                </tr>

            </tbody>
        </table>

        <div layout="row">
            <span>
                Rows on the page:
                <select style="margin:5px" ng-model="asc.resultsPerPage" ng-change="asc.tablePage=0" ng-options="p for p in asc.resultsCount"></select>
                <span ng-show="asc.numberOfPages() &gt; 1">
                    <button ng-disabled="asc.tablePage==0" ng-click="asc.tablePage=asc.tablePage-1">Previous page</button>
                    <span ng-repeat="i in asc.getNumber(asc.numberOfPages()) track by $index">
                        <button ng-click="asc.goToPage($index)"><span ng-class="{ 'table-active-page' : asc.tablePage==$index}">{{$index+1}}</span></button>
                    </span>
                    <button ng-disabled="asc.tablePage==asc.numberOfPages()-1" ng-click="asc.tablePage=asc.tablePage+1">Next page</button>
                </span>
                Total: {{asc.searchFiltered.length}}
            </span>
        </div>
        <button class="btn btn-primary" ng-click="asc.settleStudents()" ng-disabled="asc.studentsWereSettled">Settle students</button>
        <button class="btn btn-success" ng-click="asc.saveChanges()" ng-disabled="asc.changesWereSaved">Save changes</button>
        <button class="btn btn-danger" ng-click="asc.discardChanges()" ng-disabled="asc.changesWereSaved || !asc.studentsWereSettled">Discard changes</button>
    </div>
</div>
    </div>
