<div>
    <br />
    <div layout="row">
        <label style="text-decoration:solid; font-size:18px; float:left">{{qc.quizInfo[0].quizName}}, {{qc.quizInfo[0].groupName}}</label>
        <button ng-click="qc.exportShow=!qc.exportShow" style="text-decoration:solid; font-size:20px; float:right">
            Export
        </button>
    </div>
    <br />
    <br />
    <label>Search</label>
    <input type="text" ng-model="qc.search" style="width:15em">
    <div style="overflow-x:auto;">

        <table class="reviewTable">
            <thead>
                <tr>
                    <th><a href="#" ng-show="qc.exportShow" ng-click="qc.addOrRemoveFromExportAll(qc.contents)">{{qc.multipleExportToDo(qc.contents)}}</a></th>
                    <th ng-repeat="h in qc.headers">
                        <a class="link" href="#" ng-click="qc.refreshPredicate(h.predicateIndex); qc.order(qc.myPredicate[h.predicateIndex],null)">
                            <span class="sortorder" ng-show="qc.direction(h.predicateIndex) !== null" ng-class="{direction:qc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                    </th>
                    <th>
                        <a class="link">
                            Questions Details
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in qc.contents = (qc.studentsFiltered = (qc.students | filter: {student:qc.search}) | startFrom: qc.tablePage*qc.resultsPerPage | limitTo:qc.resultsPerPage)" style="height: 50px">
                    <td><a href="#" ng-show="qc.exportShow" ng-click="qc.addOrRemoveFromExport(c)">{{qc.singleExportToDo(c)}}</a></td>
                    <td><a href="{{qc.linkToProfile}}" class="link" ng-click="qc.setLink(c.id);" ng-bind-html="c.student | highlight: qc.search">{{c.student}}</a></td>
                    <td>{{c.studentScore}} / {{qc.quizInfo[0].quizScore}} </td>
                    <td>{{c.quizStatus}}</td>
                    <td>
                        <a href="{{qc.linkToQuizRewiew}}" class="link" ng-click="qc.setLinkToQuiz(c.id, c.quizPassId);">
                            Passed : {{c.questionDetails.passed}}
                            In Verification : {{c.questionDetails.inVerification}}
                            Not Passed : {{c.questionDetails.notPassed}}
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <div layout="row">
        <span>
            Rows on the page:
            <select style="margin:5px" ng-model="qc.resultsPerPage" ng-options="p for p in qc.resultsCount" ng-change="qc.paginationChanged()"></select>
            <span ng-show="qc.numberOfPages() &gt; 1">
                <button ng-disabled="qc.tablePage==0" ng-click="qc.tablePage=qc.tablePage-1">Previous page</button>
                <span ng-repeat="i in qc.getNumber(qc.numberOfPages()) track by $index">
                    <button ng-click="qc.goToPage($index)"><span ng-class="{ 'table-active-page' : qc.tablePage==$index}">{{$index+1}}</span></button>
                </span>
                <button ng-disabled="qc.tablePage==qc.numberOfPages()-1" ng-click="qc.tablePage=qc.tablePage+1">Next page</button>
            </span>
            Total: {{qc.studentsFiltered.length}}
        </span>
    </div>

    <br />

    <div ng-show="qc.exportShow" style="width:1000px; float:inherit; border:solid">
        <p style="text-decoration:solid; font-size:20px; margin:5px">Exporting to excel file:</p>
        <table id="exportable" class="table-bordered" style="border:double; margin:auto">
            <thead id="headers">
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in qc.contentsToExport | orderBy: 'studentScore'">
                    <td>{{c.student}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.studentScore}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div style="float: left">
            <button ng-click="qc.exportShow=!qc.exportShow" style="margin: 10px 0px 0px 10px ; text-decoration:solid; font-size:20px">Cancel</button>
        </div>
        <div style="float: right">
            <p style="margin:0px 0px 0px 50px">Total for export: {{qc.contentsToExport.length}}</p>
            <button ng-click="qc.writeTableToExcel('#exportable')" ng-disabled="qc.contentsToExport.length === 0" style="margin:5px 0px 10px 70px ; text-decoration:solid; font-size:20px">Save</button>
        </div>
    </div>
</div>
