<div>
    <br />
    <br />

    <div style="display:inline">
        <label>Seaqrch</label>
        <input type="text" ng-model="qrc.seaqrch" style="width:15em">
    </div>

    <div style="overflow-x:auto;">
        <table class="reviewTable">
            <thead>
                <tr>
                    <th ng-repeat="h in qrc.headers">
                        <a class="link" href="#" ng-click="qrc.refreshPredicate(h.predicateIndex); qrc.order(qrc.myPredicate[h.predicateIndex], null)">
                            <span class="sortorder" ng-show="qrc.direction(h.predicateIndex) !== null" ng-class="{direction:qrc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in qrc.contents = ((qrc.seaqrchFiltered = (qrc.quotes | filter: {Name:qrc.seaqrch})) | startFrom: qrc.tablePage*qrc.resultsPerPage | limitTo:qrc.resultsPerPage)" ng-class="{ 'student-with-problems' : c.HasProblem}" style="height: 50px">
                    <td><a ng-bind-html="c.Name | highlight: qrc.seaqrch">{{c.Name}}</a></td>
                    <td>{{c.Status}}</td>
                    <td>{{c.Institute}}</td>
                    <td>{{c.quote}}</td>
                    <td><button ng-click="qrc.changeQuoteBoxOpened = !qrc.changeQuoteBoxOpened">Change quote</button></td>
                </tr>
            </tbody>
        </table>

        <div layout="row">
            <span>
                Rows on the page:
                <select style="margin:5px" ng-model="qrc.resultsPerPage" ng-change="qrc.tablePage=0" ng-options="p for p in qrc.resultsCount"></select>
                <span ng-show="qrc.numberOfPages() &gt; 1">
                    <button ng-disabled="qrc.tablePage==0" ng-click="qrc.tablePage=qrc.tablePage-1">Previous page</button>
                    <span ng-repeat="i in qrc.getNumber(qrc.numberOfPages()) track by $index">
                        <button ng-click="qrc.goToPage($index)"><span ng-class="{ 'table-active-page' : qrc.tablePage==$index}">{{$index+1}}</span></button>
                    </span>
                    <button ng-disabled="qrc.tablePage==qrc.numberOfPages()-1" ng-click="qrc.tablePage=qrc.tablePage+1">Next page</button>
                </span>
                Total: {{qrc.seaqrchFiltered.length}}
            </span>
        </div>
    </div>
</div>
