<div>
    <br />
    <br />

    <div style="display:inline">
        <label>Search</label>
        <input type="text" ng-model="rc.search" style="width:15em">

        <div class="dropdown">
            <button class="dropbtn"> Group Filter &#x25BC </button>
            <div class="dropdown-content">
                <a ng-click="rc.checkAll()" class="link">&#x2714 Check All</a>
                <a ng-click="rc.unCheckAll()" class="link">&#x2716 Uncheck All</a>
                <div ng-repeat="group in rc.groupList">
                    <a ng-click="setSelectedGroup()" ng-model="group" class="link"> {{group}} <b ng-class="{dropdownContentElemChecked: rc.toggleDropDownElem(group)}" ng-bind-html="' ' + rc.checkSymbol | trustAsHtml"> </b></a>
                </div>
            </div>
        </div>
    </div>

    <div style="overflow-x:auto;">
        <table class="reviewTable" auto-height="{{rc.groupList.length}}">
            <thead>
                <tr>
                    <th ng-repeat="h in rc.headers">
                        <a class="link" href="#" ng-click="rc.refreshPredicate(h.predicateIndex); rc.order(rc.myPredicate[h.predicateIndex],null)">
                            <span class="sortorder" ng-show="rc.direction(h.predicateIndex) !== null" ng-class="{direction:rc.direction(h.predicateIndex)}"></span>
                            {{h.name}}
                        </a>
                        <!--<div ng-if="h.field == 'userGroup'" ng-cloak class="btn-group groupBtn" ng-class="{open: rc.groupListOpened}">

                            <button class="btn dropdown-toggle" ng-click="rc.groupListOpened=!rc.groupListOpened">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a ng-click="rc.checkAll()"><i class="icon-ok-sign"></i>Check All</a>
                                </li>
                                <li>
                                    <a ng-click="rc.unCheckAll()"><i class="icon-remove-sign"></i>Uncheck All</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="group in rc.groupList">
                                    <a ng-click="setSelectedGroup()" ng-model="group">{{group}} <span ng-class="rc.isChecked(group)"></span> </a>
                                </li>
                            </ul>
                        </div>-->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in rc.contents = ((rc.searchFiltered = (rc.students | groupFilter: rc.selectedGroup:'Institute' | filter: {Name:rc.search})) | startFrom: rc.tablePage*rc.resultsPerPage | limitTo:rc.resultsPerPage)" style="height: 50px">
                    <td><a href="Index/Student?Id={{c.Id}}#Student" class="link" ng-bind-html="c.Name | highlight: rc.search">{{c.Name}}</a></td>
                    <td>{{c.HostelNum}}</td>
                    <td>{{c.Room}}</td>
                    <td>{{c.Institute}}</td>
                </tr>

            </tbody>
        </table>

        <div layout="row">
            <span>
                Rows on the page:
                <select style="margin:5px" ng-model="rc.resultsPerPage" ng-change="rc.tablePage=0" ng-options="p for p in rc.resultsCount"></select>
                <span ng-show="rc.numberOfPages() &gt; 1">
                    <button ng-disabled="rc.tablePage==0" ng-click="rc.tablePage=rc.tablePage-1">Previous page</button>
                    <span ng-repeat="i in rc.getNumber(rc.numberOfPages()) track by $index">
                        <button ng-click="rc.goToPage($index)"><span ng-class="{ 'table-active-page' : rc.tablePage==$index}">{{$index+1}}</span></button>
                    </span>
                    <button ng-disabled="rc.tablePage==rc.numberOfPages()-1" ng-click="rc.tablePage=rc.tablePage+1">Next page</button>
                </span>
                Total: {{rc.searchFiltered.length}}
            </span>
        </div>
    </div>
</div>
