<div>
    <div pop-up-window></div>
    <h2>{{sc.studentInfo.firstName + ' ' + sc.studentInfo.lastName}}</h2>
    <div>
        <ul class="tabLabels">
            <li><a href="#Student" ng-class="sc.currentTab=='Student'&&'selected'" ng-click="sc.currentTab='Student'">Student</a></li>
            <li><a href="#Payment" ng-class="sc.currentTab=='Payment'&&'selected'" ng-click="sc.currentTab='Payment'">Payment</a></li>
            <li><a href="#Violations" ng-class="sc.currentTab=='Violations'&&'selected'"ng-click="sc.currentTab='Violations'">Violations</a></li>
        </ul>
    </div>
  
    <div id="tabContainer" style="height:auto; width:auto">
        <div id="studentTab" ng-show="sc.currentTab=='Student'">
            <div name='profileInfo' style="width:auto; max-width:600px" novalidate>
                <div style="margin-right:40px;">
                    <label class="profileLabel">Name:</label>
                    <input type="text" name="firstName" class="profileField" ng-model="sc.studentInfo.Name" ng-change="sc.modelChanged = true;" class="showValidation" required /><br /><br />
                    <label class="profileLabel">Surname:</label>
                    <input type="text" name="lastName" class="profileField" ng-model="sc.studentInfo.Surname" ng-change="sc.modelChanged = true;" class="showValidation" required /><br /><br />
                    <label class="profileLabel">Institute:</label>
                    <input type="text" name="institute" class="profileField" ng-model="sc.studentInfo.Institute" ng-change="sc.modelChanged = true;" class="showValidation" required /><br /><br />
                    <label class="profileLabel">Study Group:</label>
                    <input type="text" name="studyGroup" class="profileField" ng-model="sc.studentInfo.Group" ng-change="sc.modelChanged = true;" class="showValidation" required /><br /><br />
                    <label class="profileLabel">Payment till:</label>
                    <input type="text" class="profileField" ng-model="sc.studentInfo.LivingTill" readonly /><br /><br />
                </div>
            </div>
        </div>

        <div id="paymentTab" ng-show="sc.currentTab=='Payment'">
            <label class="profileLabel">Hostel:</label>
            <input type="text" name="hostel" class="profileField" ng-model="sc.studentInfo.Hostel" ng-change="sc.modelChanged = true;" class="showValidation" readonly required /><br /><br />
            <label class="profileLabel">Room:</label>
            <input type="text" name="room" class="profileField" ng-model="sc.studentInfo.Room" ng-change="sc.modelChanged = true;" class="showValidation" readonly required /><br /><br />
            <label class="profileLabel">Paid till:</label>
            <input type="text" name="paidTill" class="profileField" ng-model="sc.studentInfo.LivingTill" readonly /><br /><br />
            <button class="profileButton" ng-click="sc.checkInBoxOpened = !sc.checkInBoxOpened">Check in</button>
            <button class="profileButton" ng-click="sc.checkOut()">Check out</button>
            <button class="profileButton" ng-click="sc.addPayBoxOpened = !sc.addPayBoxOpened">Add pay</button>

            <div id="checkInBox" ng-show="sc.checkInBoxOpened == true">
                Choose hostel:
                <span>
                    <select style="margin:15px; font-size:17px " ng-model="sc.chosenHostel" ng-options="h.Number for h in sc.hostels"></select>
                </span>
                <span>
                    <select style="margin:15px; font-size:17px " ng-model="sc.chosenRoom" ng-options="r.Number for r in sc.rooms | hostel: sc.chosenHostel.Id"></select>
                </span>
                <button ng-click="sc.checkIn()">Check in</button>
            </div>

            <div id="addPayBox" ng-show="sc.addPayBoxOpened == true">
                <label>Enter end date:</label>
                <input type="date" ng-model="sc.payTillDate"/>
                <label>Enter sum:</label>
                <input type="number" ng-model="sc.paySum"/>
                <button ng-click="sc.addPay()">Add pay</button>
            </div>
        </div>

        <div id="violationsTab" ng-show="sc.currentTab=='Violations'">
               <h3>Violations:</h3>
                <div class="violation" ng-repeat="v in sc.studentInfo.Violations track by $index">
                    {{v.Name}}
                    {{v.Penalty}}
                    {{v.Time}}
                </div>
            <br />
                <div style="border-style:inset; border-width:1px;border-color:black; width:500px">
                    <span>
                        <select style="margin:15px; font-size:17px " ng-model="sc.currentViolation" ng-options="v.Name for v in sc.violationsList"></select>
                    </span>
                    <br />
                    <br />
                    <button class="profileButton" ng-click="sc.addViolation()" >Add violation</button>
                    <button class="profileButton" ng-click="sc.clearViolations()">Clear all violations</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="footerButtons" layout="row">
        <button class="profileButton" ng-click="sc.saveProfile()" ng-disabled="!sc.validationCheck()">Save</button>
        <div></div>
        <button class="profileButton" ng-click="sc.cancelProfile()">Cancel</button>
    </div>
